
<div class="form-group my-2">
  <label for="picture">Picture</label>
  <div class="custom-file">
    <input
      #file
      type="file"
      id="customFile"
      accept=".jpg,.png,.gif,.jpeg"
      multiple
      (change)="upload(file.files)"
    />
    <!-- <label class="custom-file-label" for="customFile">Choose file</label> -->
  </div>
</div>

<!--comparar-->
<div class="form-group">
  <label for="picture">Compare</label>
  <div class="custom-file">
    <input
      #Filecompare
      type="file"
      id="compareface"
      accept=".jpg,.png,.gif,.jpeg"
      multiple
      (change)="compareface(Filecompare.files)"
    />
    <!-- <label class="custom-file-label" for="compareface">Choose file</label> -->
  </div>
</div>
<br>
<div class="progress">
  <div class="progress-bar" role="progressbar" [style.width.%]="progress"></div>
</div>
<br />
<div class="alert alert-primary" role="alert">
  <p>Similitud: {{ similitud }}</p>
</div>
